<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button
            class="btn btn-link"
            routerLink="/"
        >На главную</button>
    </div>

    <div class="info">
        <strong>Автор</strong>
        <small>12.09.2020</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est minus modi, nulla similique tenetur! Animi assumenda consequuntur culpa debitis delectus ex exercitationem illum iure, iusto laboriosam magni maxime nobis non perferendis quas qui quos reiciendis sint ut veritatis. A architecto aspernatur at beatae doloremque et magni, optio placeat quam.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est minus modi, nulla similique tenetur! Animi assumenda consequuntur culpa debitis delectus ex exercitationem illum iure, iusto laboriosam magni maxime nobis non perferendis quas qui quos reiciendis sint ut veritatis. A architecto aspernatur at beatae doloremque et magni, optio placeat quam.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est minus modi, nulla similique tenetur! Animi assumenda consequuntur culpa debitis delectus ex exercitationem illum iure, iusto laboriosam magni maxime nobis non perferendis quas qui quos reiciendis sint ut veritatis. A architecto aspernatur at beatae doloremque et magni, optio placeat quam.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est minus modi, nulla similique tenetur! Animi assumenda consequuntur culpa debitis delectus ex exercitationem illum iure, iusto laboriosam magni maxime nobis non perferendis quas qui quos reiciendis sint ut veritatis. A architecto aspernatur at beatae doloremque et magni, optio placeat quam.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est minus modi, nulla similique tenetur! Animi assumenda consequuntur culpa debitis delectus ex exercitationem illum iure, iusto laboriosam magni maxime nobis non perferendis quas qui quos reiciendis sint ut veritatis. A architecto aspernatur at beatae doloremque et magni, optio placeat quam.</p>
    </div>
</div>
